<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.js"></script>

  <script type='text/javascript' src="/js/project.js"></script>
</head>

<body>
<div data-role="page" data-control-title="analyze" id="page8">
    <div data-theme="b" data-role="header">
        <h1 onclick="window.location.href='/home'" class="ui-title">
            CITIZEN SCIENTIST
        </h1>
        <a onclick="window.location.href='/home'" data-transition="fade" data-icon="home">
            Home
        </a>
    </div>
    <div role="main" class="ui-content">
        <div data-controltype="textblock">
            <h1 data-mce-style="text-align: center;" style="text-align: center;">
                <span style="font-family: 'comic sans ms', sans-serif; color: rgb(136, 136, 136); background-color: rgb(252, 255, 252);">
                    <b>
                        CREATE NEW PROJECT
                    </b>
                </span>
            </h1>

            <h4 data-mce-style="text-align: center;" style="text-align: center;">
                <span style="font-family: 'comic sans ms', sans-serif; color: rgb(136, 136, 136); background-color: rgb(252, 255, 252);">
                    <b>
                        MAKE A NEW PROJECT FOR A NEW SCIENTIFIC QUESTION
                    </b>
                </span>
            </h4>
        </div>

        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput1">
                <b>
                    Project Name
                </b>
            </label>
            <input name="" id="textinput1" placeholder="" value="" type="text">
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput2">
                <b>
                    Topic:
                </b>
            </label>
            <input name="" id="textinput2" placeholder="" value="" type="text">
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput3">
                <b>
                    Question:
                </b>
            </label>
            <input name="" id="textinput3" placeholder="" value="" type="text">
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
            <label for="textinput4">
                <b>
                    Hypothesis:
                </b>
            </label>
            <input name="" id="textinput4" placeholder="" value="" type="text">
        </div>

        <div data-controltype="textblock" style="text-align: center">
            <p>
                <b>
                    Create A Survey For This Project
                </b>
            </p>
            <p>
                Please input up to five questions below. Users will be able to answer them with yes/no.
            </p>
        </div>
        <div class="ui-field-contain" data-controltype="textinput">
             <label for="textinput5" id="qNum">
                 <b>
                     Question 1:
                 </b>
                 <br>
                 <br />
             </label>
             <input name="" id="textinput5" placeholder="" value="" type="text">
             <a id="qCell"></a>
         </div>
        <input type="button" id="addQ" value="Add Question" />
        <input type="button" id="removeQ" value="Remove Question" />

        <br/>
        <div id="projName" style="text-align:center; font-weight: bold; font-size:24px">
        </div>
        <div id="topicName" style="text-align:center; font-weight: bold; font-size:24px">
        </div>
        <div id="questName" style="text-align:center; font-weight: bold; font-size: 24px">
        </div>
        <div id="hypName" style="text-align:center; font-weight: bold; font-size: 24px">
        </div>
        <div id="preview">
        </div>

        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a onclick="window.location.href='/home'" data-transition="fade" data-theme="" data-icon="">
                        BACK
                    </a>
                </li>
                <li>
                    <a id="previewbutton" data-transition="fade" data-theme="" data-icon="">
                        PREVIEW PROJECT
                    </a>
                </li>
                <li>
                    <a id="createbutton" data-transition="fade" data-theme="" data-icon="">
                        CREATE PROJECT
                    </a>
                </li>
            </ul>
        </div>
        <div class="ui-body-b ui-body" style="overflow:hidden;" data-role="footer" data-id="navigation" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="/create" data-icon="plus" class="ui-btn-active ui-state-persist">Create</a></li>
                    <li><a href="/contribute" data-icon="edit">Contribute</a></li>
                    <li><a href="/analyze" data-icon="check">Analyze</a></li>
                    <li><a href="/myprojects" data-icon="gear">My Projects</a></li>
                    <li><a onclick="window.location.href='/index'" data-icon="power">Logout</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>
</div>

<script>
$(document).ready(function () {
    $("#createbutton").click(function () {

      var a = $('#textinput1').val();
      var b = $('#textinput2').val();
      var c = $('#textinput3').val();
      var d = $('#textinput4').val();
      var e = $('#textinput5').val();

      if (a !='' && b !='' && c !='' && d !='' && e !='') {
        func1(a,b,c,d,e);
        localStorage.setItem("projectName",a);
        alert("Your project is successfully created!");
        window.location="/myprojects";
      } else {
        alert("Please fill all fields...!!!");
      }
    });

    $("#previewbutton").click(function () {
        var pName = $('#textinput1').val();
        var tName = $('#textinput2').val();
        var qName = $('#textinput3').val();
        var hName = $('#textinput4').val();
        var gForm = $('#textinput5').val();
        $('#projName').html(pName);
        $('#topicName').html(tName);
        $('#questName').html(qName);
        $('#hypName').html(hName);
        $('#preview').html(gForm);
    });
});

</script>

<script>
    var quesNum = 1;

    document.getElementById("addQ").onclick = function () {
        if (quesNum < 5) {
            quesNum++;
            var qCell = document.getElementById("qCell");
            var qNum = document.getElementById("qNum");
            var header = document.createElement("header");
            var input = document.createElement("input");
            input.type = "text";
            input.id = "ques" + quesNum;
            header.type = "header";
            header.textContent = "Question " + quesNum + ":";
            header.id = "qId" + quesNum;
            var br = document.createElement("br");
            br.id = "brId" + quesNum;
            //var br1 = document.createElement("br");
            //var br2 = document.createElement("br");
            qNum.appendChild(header);
            //qNum.appendChild(br1);
            qCell.appendChild(input);
            qCell.appendChild(br);
            //qCell.appendChild(br2);
        }
        else
            alert("Maximum Five Questions Can Be Made.");
    }
    document.getElementById("removeQ").onclick = function () {
        if(quesNum == 1)
            alert("Minimum One Question Required.")
        else {
            document.getElementById("ques" + quesNum).remove();
            document.getElementById("qId" + quesNum).remove();
            document.getElementById("brId" + quesNum).remove();
            quesNum--;
        }
    }
</script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88027543-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>

</html>
