<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>
<body>
<div data-role="page" data-control-title="home" id="page1">
    <div data-theme="b" data-role="header" data-position="fixed" data-iconpos="left">
        <h1 onclick="window.location.href='/home'" class="ui-title">
            CITIZEN SCIENTIST
        </h1>
        <a onclick="window.location.href='/home'" data-transition="fade" data-icon="home">
            Home
        </a>
</div> 

    <div role="main" class="ui-content">
        <div id="owner" style="text-align: center;">

        </div>
        <div data-controltype="textblock">
            <h2>
            <p style="text-align: center;" data-mce-style="text-align: center;" >
                <span style="font-family: impact, chicago;" data-mce-style="font-family: impact, chicago;">
                    <strong>
                        <span style="color: rgb(32,178,170);" data-mce-style="color: #20b2aa;"> ﻿﻿
                            Current Environment Projects
                        </span>
                    </strong>
                </span>
                <br>
            </p>
            </h2>
        </div>
        <div align="center" >
        <img src="images/environmentCopy.png" alt="Data From Survey Responses"
                 width="65%" height="65%">
        </div>
        <div class="ui-body-b ui-body" style="overflow:hidden;" data-role="footer" data-id="navigation" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="/create" data-icon="plus">Create</a></li>
                    <li><a href="/contribute" data-icon="edit">Contribute</a></li>
                    <li><a href="/analyze" data-icon="check">Analyze</a></li>
                    <li><a href="/myprojects" data-icon="gear">My Projects</a></li>
                    <li><a onclick="window.location.href='/index'" data-icon="power">Logout</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>
</div>


<script>
//tester
$.getJSON("data.json", function(jsd) {
        var uname = jsd.user[0].username.substring(0, jsd.user[0].username.indexOf('u') - 1);
        $('#owner').append("Hello " + uname);
    });
</script>

</body>
</html>
