<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script src="https://s3.amazonaws.com/codiqa-cdn/codiqa.ext.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>
<body>
<div data-role="page" data-control-title="home" id="page1">
    <div data-theme="b" data-role="header" data-position="fixed" data-iconpos="left" data-tap-toggle="false">
        <h1 onclick="window.location.href='/home'" class="ui-title">
            CITIZEN SCIENTIST
        </h1>
        <a onclick="window.location.href='/home'" data-transition="fade" data-icon="home">
            Home
        </a>
</div> 

    <div role="main" class="ui-content">
        <div id="owner" style="text-align: center;">

        </div>
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="/images/slide1.png" alt="Chania" width="100%" height="100%">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="/images/slide2.png" alt="Chania" width="100%" height="100%">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="/images/slide3.png" alt="Flower" width="100%" height="100%">
                        <div class="carousel-caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="/images/slide4.png" alt="Flower" width="100%" height="100%">
                        <div class="carousel-caption">
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div data-controltype="textblock">
            <h2>
            <p style="text-align: center;" data-mce-style="text-align: center;" >
                <span style="font-family: impact, chicago;" data-mce-style="font-family: impact, chicago;">
                    <strong>
                        <span style="color: rgb(32,178,170);" data-mce-style="color: #20b2aa;"> ﻿﻿
                             Welcome CITIZEN SCIENTIST 
                        </span>
                    </strong>
                </span>
                <br>
            </p>
            </h2>
        </div>
 <div data-controltype="textblock">
            <p style="text-align: center;" >
                        Engage in existing Research Projects you find interesting or create your own Research Project!
            </p>
        </div>
 <div data-controltype="textblock">
            <p style="text-align: center;" >
                        All the tools you need are at your fingertips, become a Scientist and tackle questions of all sorts!
            </p>
        </div>


        <div data-controltype="textblock">
          
          <b>
            <p style="text-align: center;" >
              Select a Project Category
            </p>
          </b>
        </div>

        <div align="center">
        <img onclick="window.location.href='/social'" src="images/social.png" alt="Data From Survey Responses"
                 width="45%" height="50%">
        <img onclick="window.location.href='/health'" src="images/health.png" alt="Data From Survey Responses"
                 width="45%" height="50%">
        <img onclick="window.location.href='/environment'" src="images/environment.png" alt="Data From Survey Responses"
                 width="45%" height="50%">
        <img onclick="window.location.href='/science'" src="images/science.png" alt="Data From Survey Responses"
                 width="45%" height="50%">
      
        </div>

        <div class="ui-body-b ui-body" style="overflow:hidden;" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar">
                <ul>
                    <li><a onclick="window.location.href='/create'" data-icon="plus">Create</a></li>
                    <li><a href="/contribute" data-icon="edit">Contribute</a></li>
                    <li><a href="/analyze" data-icon="check">Analyze</a></li>
                    <li><a href="/myprojects" data-icon="gear">My Projects</a></li>
                    <li><a onclick="window.location.href='/index'" data-icon="power">Logout</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>
</div>

<script>
//tester
$.getJSON("data.json", function(jsd) {
        var uname = jsd.user[0].username.substring(0, jsd.user[0].username.indexOf('u') - 1);
        $('#owner').append("Hello " + uname);
    });
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88027543-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
